.centered-image {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}

h1 {
  color: rgb(0, 0, 0);
  font-family: 'Franklin Gothic Medium';
  text-align: center;
}

h2 {
  color: rgb(45, 45, 216);
  font-family: 'Franklin Gothic Medium';
  text-align: left;
}

body {
  background-color:#b5bda5
}