.centered-image {
  margin: auto;
  width: 40%;
  height: auto;
  display: block;
}

.box {
  margin: 12px;
  border: 9px solid #000000 ;
  background-color: #b5bda5 ;
  padding: 20px;
}

h1 {
  color: rgb(0, 0, 0);
  font-family: 'Franklin Gothic Medium';
  text-align: center;
  font-size: 60px;
}

h2,h3 {
  color: rgb(0, 0, 0);
  font-family: 'Franklin Gothic Medium';
  text-align: left;
}

.list {
  text-emphasis-color: rgb(0, 0, 0) ;
  font-size: 25px;
}

.column {
  width: 650px;
  float: right
}

.liza {
  margin: auto;
  width: 40%;
  height: auto;
  display: block;
}

body {
  background-color:rgb(103,119,138);
  font-size: 20px;
}

.DogCaption {
  text-align: center;
}